fastapi
uvicorn
langchain-core
langgraph
langchain-google-vertexai
google-generativeai
python-dotenv
google-auth
google-cloud-aiplatform
google-cloud-speech
vertexai
google-cloud-storage
google-cloud-secret-manager
requests
pdfkit
jinja2